@font-face {
  font-family: "ABeeZee";
  src: url(../fonts/ABeeZee/ABeeZee-Regular.ttf);
}

.container {
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.change_password,
.change_password form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 44px;
}

.change_password {
  width: 669px;
  height: 644px;
  border-radius: 20px;
  background-image: 
    url(../images/main_pic.png);
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-top: 4%;
}

.change_password form label {
  color: #fff;
  font-family: ABeeZee;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}