* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#title {
    display: flex;    
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50px;
    height: 30px;
}

#title svg {
    width: 100%;
    height: 100%;
    rotate: 45deg;
    fill: white;
}

.container {
    width: 1080px;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(55, 55, 55);
    color: #fff;
    padding: 0 40px;
}

body {
    font-family: Arial, Helvetica, sans-serif
}
.header h1{
    margin: 20px;
    display: flex;
    justify-content: center;
}
 .video {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 350px;
 }

video {
    width: 100%;
    object-fit: cover;
}

.main-container {
    padding: 0 50px;
}


.line {
    margin: 30px auto;
    width: 580px;
}

h2 {
    margin: 20px 0;
    text-align: start;
}

.content {
    padding: 0 50px;
}

.img-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-container {
    height: 130px;
    border-radius: 50%;
}

.img-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.description {
    width: 450px;
    border-radius: 20px;
    flex-grow: 2;
    padding: 15px;
    margin-right: 60px;
}

.description h4 {
    text-align: start;
}

.description p {
    text-align: start;
    margin-top: 10px;
    font-size: 14px;
}

.description h5 {
    text-align: end;
    margin-top: 5px;
}

.carousel .description h4,
.carousel .description h5 {
    color: yellowgreen;
}

.chess .description h4,
.chess .description h5 {
    color: rgb(73, 247, 247);
}

.team .description h4,
.team .description h5 {
    color: rgb(249, 249, 74);
}

.tram .description h4,
.tram .description h5 {
    color: rgb(253, 185, 59);
}


/*  Էս հատվածը չի աշխատի*/
/* .img-content:nth-child(odd) .description {
    background-color: #21272b;
}

.img-content:nth-child(even) .description {
    background-color: rgb(132, 130, 130);
} */

/* background-color-ը փոխելու համար գրել եմ էս տարբերակով, որը գիտեմ, որ իրականում սխալ է․․․ */
.carousel .description,
.team .description {
    background-color: #21272b
}

.chess .description,
.tram .description {
    background-color: rgb(132, 130, 130);
}

.line-x {  
    width: 1px;  
    height: 1px;
    flex-grow: 1;
}

.hr-content {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-y {
    width: 35px;
    height: 1px;
    transform: rotate(90deg);
    margin-right: 170px;
}

.footer {
    padding-bottom: 30px;
}

.other-info {
    display: flex;
    justify-content: space-evenly;

}

.other-info div {
    width: 250px;
    text-align: start;
}

.other-info p {
    margin-top: 8px;
}

.location {
    display: flex;
    justify-content: space-around;
}

.location .map {
    width: 400px;
    height: 200px;
    padding-left: 15px;
}

.location .map img{
    width: 100%;
    height: 100%;
    margin-top: 15px;
    object-fit: cover;
}

.form form {
    padding: 10px;
}

.form, 
.location .map {
    text-align: start;
}

.form h4 {
    margin-left: 10px;
    margin-top: 5px;
}

.form form textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
}

input[type='submit'] {
    padding: 10px 20px;
    color: #fff;
}

input[type='text'],
input[type='email'],
input[type='submit'],
textarea { 
    border: 2px solid white;
    background-color: rgb(55, 55, 55);
}

input[type='email'] {
    margin-left: 22px;
}

input[type='submit'] {
    width: 150px;
    margin-top: 5px;
}

.form form input, 
.form form textarea {
    border-radius: 5px;
    padding: 10px;
}

.footer span {
    vertical-align: middle;
}